h1 {
  color: #66ccff;
  font-family: "Segoe Script";
  font-size: 80px;
  text-align: center;
  line-height: normal;
}
h2 {
  color: white;
  font-family: "Segoe Script";
  font-size: 30px;
  background-color: #005580;
  text-align: center;
}
p {
  color: #005580;
  font-family: "Segoe Script";
  font-size: 20px;
  text-align: center;
}
ol li {
  background-color: teal;
}
ul li {
  color: yellow;
}
