* {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

body {
  height: 100vh;
  background-image: url('../pictures/background-glass-plant.jpg');
  background-size: cover;
  background-position: center;
}

a:link {
  color: black;
  text-decoration:none;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
  font-weight: bold;
  font-size: 19px;
}

/* selected link */
a.active {
  color: #3f828f;
  font-weight: bold;
}

h1 {
  color: #66ccff;
  font-size: 80px;
  text-align: center;
  border-style: solid;
  border-radius: 5px;
  background-color: rgb(255, 255 ,255 , 0.8);
  line-height: normal;
}
h2 {
  color: #005580;
  font-size: 30px;
  background-color: rgb(255, 255 ,255 , 0.3);
  text-align: center;
}
h2 span{
    background-color: rgb(255, 255 ,255 , 0.5);
}
p {
  color: #005580;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
p span{
    background-color: rgb(255, 255 ,255 , 0.5);
}
h4{
  color: black;
  font-size: 20px;
  font-weight: normal;
  text-align: right;
}

.carousel {
  width:640px;
  margin:0 auto;
}
ul li {
  color: #006600;
}

.footer .fa {
  padding: 5px;
  margin: 10px;
  font-size: 32px;
  width: 45px;
  text-align: center;
  text-decoration: none;
  border-radius: 20%;
  background: rgba(255, 255, 255, 0.1);
  color: rgba (255, 255, 255, 1);
  border: solid;
}
.fa {
  display: inline-block;
  text-rendering: auto;
}
