h1 {
  color: #66ff66;
  font-family: "Segoe Script";
  font-size: 80px;
  text-align: center;
  line-height: normal;
}
h2 {
  color: white;
  font-family: "Segoe Script";
  font-size: 30px;
  background-color: #006600;
  text-align: center;
}
p {
  color: #006600;
  font-family: "Segoe Script";
  font-size: 20px;
  text-align: center;
}
ul li {
  color: #006600;
  font-family: "Segoe Script"
}
button {
  font-size: 10px;
  font-family: "Segoe Script";
  color: white;
  width: 300px;
  height: 50px;
  text-align: center;
  background-color: #006600
}
